@charset "UTF-8";

img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    
    
}

p{
    background-color: rgb(82, 36, 36);
    
    text-align: center;
    width: 40%;
    
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}